Repository SwissDataScienceCenter/renku, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SwissDataScienceCenter/renku-devs, @SwissDataScienceCenter/kartografen, @SwissDataScienceCenter/YAT, @SwissDataScienceCenter/renku-product-management

.github/CODEOWNERS:

*               @SwissDataScienceCenter/renku-devs
/helm-chart/    @SwissDataScienceCenter/kartografen
/helm-chart/renku/requirements.yaml     @SwissDataScienceCenter/YAT
/CHANGELOG.rst  @SwissDataScienceCenter/renku-product-management @SwissDataScienceCenter/YAT

chore: Update slf4j-log4j12 from 2.0.5 to 2.0.6
  acceptance-tests/build.sbt
Owners: @SwissDataScienceCenter/renku-devs

chore: Update slf4j-log4j12 from 2.0.5 to 2.0.6 (#2851)
  acceptance-tests/build.sbt
Owners: @SwissDataScienceCenter/renku-devs

fix(tests): increase timeout for project creation
  cypress-tests/cypress/support/commands/projects.ts
Owners: @SwissDataScienceCenter/renku-devs

chore: add nix configuration (#2842)
  default.nix
  docs/how-to-guides/contributing/documentation.rst
  docs/spelling_wordlist.txt
Owners: @SwissDataScienceCenter/renku-devs

chore: update changelog
  CHANGELOG.rst
Owners: @SwissDataScienceCenter/renku-product-management, @SwissDataScienceCenter/YAT

Update from auto-update/renku-gateway-0.18.0 (#2850)
  CHANGELOG.rst
  cypress-tests/cypress/support/commands/projects.ts
  helm-chart/renku/requirements.yaml
Owners: @SwissDataScienceCenter/renku-product-management, @SwissDataScienceCenter/YAT, @SwissDataScienceCenter/renku-devs

chore: updating renku-notebooks version to 1.14.0
  helm-chart/renku/requirements.yaml
Owners: @SwissDataScienceCenter/YAT

chore: update changelog
  CHANGELOG.rst
Owners: @SwissDataScienceCenter/renku-product-management, @SwissDataScienceCenter/YAT

chore: Update selenium-java from 4.7.1 to 4.7.2
  acceptance-tests/build.sbt
Owners: @SwissDataScienceCenter/renku-devs

chore: Update from auto-update/renku-notebooks-1.14.0 (#2854)
  CHANGELOG.rst
  helm-chart/renku/requirements.yaml
Owners: @SwissDataScienceCenter/renku-product-management, @SwissDataScienceCenter/YAT
